body{
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
   
}

main{

    background-color: aqua;
    height: 600px   ;
    width: 100%;
}

h1{
    

    font-family: cursive;

}